* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body {
  display: flex;
  justify-content: center;
} */

.item-container {
  display: flex;
  justify-content: center;
}

.upgrade-item {
  margin: 5px;
}

.buy-button {
  margin: 5px;
}
